.accordion_part {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  padding-bottom: 150px;
  .title_faq {
    font-family: "TT Hoves";
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 82px;
    text-transform: capitalize;
    color: #ffffff;
  }

  .accordion {
    button {
      position: relative;
      width: 100%;
      padding: 24px 0;
      color: white;
      border: none;
      border-bottom: 1px solid rgba(230, 230, 230, 0.2);
      cursor: pointer;

      font-family: "TT Hoves";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: left;
      color: #b3b3b3;
      background-color: transparent;
      &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #bfea81;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s;
        transform: rotate(-90deg);
      }
      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #bfea81;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s;
      }

      span {
        display: inline-block;
        width: 50px;
        height: 39px;
        padding-top: 11px;
        text-align: center;
        vertical-align: middle;
        background: #bfea81;
        border-radius: 5px;
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #0f0f0f;
        margin-right: 15px;
      }
    }
    .accordion_close {
      p {
        display: none;
      }
    }
    p {
      height: 100%;
      font-family: "TT Hoves";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #b3b3b3;
      transition-property: height;
      transition-duration: 500ms;
    }

    button:hover {
    }
    .accordion_open {
      &::after {
        transform: rotate(0);
      }
      p {
        height: 100%;
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #b3b3b3;
        transition-property: height;
        transition-duration: 500ms;
      }
    }
    // button:focus {
    //   outline: none;
    // }
  }
  .slogan {
    position: relative;
    img {
      max-width: 100%;
      position: absolute;
      right: -5%;
    }

    .background_green {
      position: relative;

      width: 551px;
      height: 551px;
      left: -304px;
      top: 180px;

      background: rgba(101, 153, 27, 0.6);
      filter: blur(250px);
    }
  }
}

@media screen and (max-width: 1350px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 565px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 450px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .main_page {
    .main_page_container {
      .left_side {
        .head_text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          padding-top: 30px;
          letter-spacing: 1px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main_page {
    .main_page_container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 878px) {
  .main_page {
    .main_page_container {
      padding: 100px 0;
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 45px;
          line-height: 50px;
        }
        .bottom_text {
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main_page {
    .main_page_container {
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 40px;
          line-height: 45px;
        }
        .bottom_text {
          max-width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 400px;
        text-align: center;
        .head_text {
          font-size: 35px;
          line-height: 40px;
          text-align: start;
        }
        .bottom_text {
          max-width: 400px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main_page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .main_page {
    .main_page_container {
      padding-bottom: 50px;

      .left_side {
        max-width: 350px;
        text-align: center;
        .head_text {
          font-size: 30px;
          line-height: 35px;
          text-align: end;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .bottom_text {
          max-width: 350px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 300px;
        .head_text {
          font-size: 25px;
          line-height: 30px;
        }
      }
      .right_side_foto {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main_page {
    padding-left: 0;
    padding-right: 0;
    .main_page_container {
      padding: 79px 0;
      .left_side {
        max-width: 320px;
        .head_text {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .right_side_foto {
        img {
          border-radius: 0;
          width: 100vw;
          height: 390px;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .main_page {
    .main_page_container {
      .left_side {
        .bottom_text {
          padding-left: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 240px;
      }
    }
  }
}
@media screen and (max-width: 355px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 220px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 200px;
      }
    }
  }
}
