.choose_card_page {
  position: relative;
  padding-top: 260px;
  width: 106%;
  left: -50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("/src/shared/assets/big_ellipse.png");
  background-size: cover;
  align-items: center;
  div {
    display: block;
  }
  .title {
    font-family: TT Hoves;
    font-size: 70px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0em;
    color: black;
    position: relative;
    text-align: center;
    display: block;
    text-align: center;
    z-index: 30;
    margin-bottom: 40px;
    svg {
      position: absolute;
      top: -31px;
      right: -50px;
    }
  }
  .content_container {
    max-width: 1200px;
    color: black;

    .choose_card_list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -16px;
      margin-right: -16px;

      .card {
        width: 300px;
        margin: 16px;
        border: 1px solid #8080803c;
        border-radius: 10px;
        &:first-child {
          background-color: #f4f4f4;
          border: none;
          .name {
            height: 24px;
          }
          .card_charakteristics {
            .characteristic {
              text-align: left;
              padding-left: 15px;
            }
          }
        }
        .image {
          height: 185px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .name {
          text-align: center;
          padding-bottom: 10px;
        }
        .card_charakteristics {
          .characteristic {
            padding-top: 11px;
            padding-bottom: 11px;
            text-align: center;
            border-top: 1px solid #8080802a;
          }
        }
      }
    }
    .text {
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
      font-family: "TT Hoves";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: capitalize;
      color: #666666;
    }
    .preorder_container {
      background-color: rgb(138, 81, 193);
      padding-top: 35px;
      padding-bottom: 35px;
      border-radius: 10px;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      bottom: -60px;
      .text_left {
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;
        color: #ffffff;
        span {
          color: #bfea81;
        }
      }
      .input_right {
        input {
          width: 290px;
          height: 50px;
          margin-right: 21px;
          background-color: transparent;
          border: 1px solid black;
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.4);
          filter: drop-shadow(
            0px 14.5322px 77.8512px rgba(191, 234, 129, 0.13)
          );
          outline: none;
          padding-left: 10px;
          &::placeholder {
            color: rgba(255, 255, 255, 0.4);
            padding-left: 10px;
          }
        }
        button {
          width: 200px;
          height: 50px;
          background-color: white;
          border: none;
          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          text-transform: capitalize;
          color: #0f0f0f;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 565px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 450px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .main_page {
    .main_page_container {
      .left_side {
        .head_text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          padding-top: 30px;
          letter-spacing: 1px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main_page {
    .main_page_container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 878px) {
  .main_page {
    .main_page_container {
      padding: 100px 0;
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 45px;
          line-height: 50px;
        }
        .bottom_text {
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main_page {
    .main_page_container {
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 40px;
          line-height: 45px;
        }
        .bottom_text {
          max-width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 400px;
        text-align: center;
        .head_text {
          font-size: 35px;
          line-height: 40px;
          text-align: start;
        }
        .bottom_text {
          max-width: 400px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main_page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .main_page {
    .main_page_container {
      padding-bottom: 50px;

      .left_side {
        max-width: 350px;
        text-align: center;
        .head_text {
          font-size: 30px;
          line-height: 35px;
          text-align: end;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .bottom_text {
          max-width: 350px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 300px;
        .head_text {
          font-size: 25px;
          line-height: 30px;
        }
      }
      .right_side_foto {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main_page {
    padding-left: 0;
    padding-right: 0;
    .main_page_container {
      padding: 79px 0;
      .left_side {
        max-width: 320px;
        .head_text {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .right_side_foto {
        img {
          border-radius: 0;
          width: 100vw;
          height: 390px;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .main_page {
    .main_page_container {
      .left_side {
        .bottom_text {
          padding-left: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 240px;
      }
    }
  }
}
@media screen and (max-width: 355px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 220px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 200px;
      }
    }
  }
}
