.referral_program {
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content_container {
    padding-top: 110px;
    padding-bottom: 78px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: 100% 100%;
    background-image: url("src/shared/assets/background/white_background.png");

    .right_container {
      .title {
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 500;
        font-size: 70px;
        line-height: 82px;
        text-transform: capitalize;
        color: #000000;
        margin-bottom: 46px;
      }
      .text {
        span {
          width: 440px;
          display: block;
          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 140%;
          margin-bottom: 30px;
        }
      }
      .social_container {
        display: flex;
        align-items: center;
        .social_links {
          display: inline;
          svg {
            margin-right: 10px;
            &:last-child {
              margin-right: 32px;
            }
          }
        }
        button {
          display: inline;

          border: none;
          width: 220px;
          height: 60px;
          background: #bfea81;
          box-shadow: 0px 14px 75px rgba(191, 234, 129, 0.13);
          border-radius: 30px;

          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-transform: capitalize;

          color: #0f0f0f;
        }
      }
    }
  }
  .customer_support {
    max-width: 1210px;
    height: 322px;
    padding-top: 40px;
    padding-left: 80px;
    background: linear-gradient(98.66deg, #333333 11.29%, #1d1d1d 97.89%);
    border-radius: 30px;
    position: relative;
    z-index: 30;
    bottom: 10px;
    .text_container {
      .title_customer_support {
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        text-transform: capitalize;
        color: #ffffff;
        margin-bottom: 30px;
        span {
          color: #bfea81;
        }
      }
      .plus_lists {
        .plus {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          svg {
            margin-right: 14px;
          }
          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: #b3b3b3;
        }
      }
    }

    .support_girl {
      position: absolute;
      top: -123px;
      right: 0;

      .background_green {
        position: absolute;
        width: 551px;
        height: 551px;
        left: 500px;
        top: 300px;
        background: rgba(101, 153, 27, 0.6);
        filter: blur(250px);
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .referral_program {
    .content_container {
      padding-top: 60px;
      .right_container {
        .title {
          font-size: 50px;
        }
      }
      div:first-child {
        text-align: center;
      }
      img {
        width: 70%;
      }
    }
    .customer_support {
      .text_container {
        .title_customer_support {
          font-size: 35px;
        }
      }
      .support_girl {
        right: -130px;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 825px) {
  .referral_program {
    .content_container {
      padding-top: 60px;
      .right_container {
        .title {
          font-size: 50px;
        }
      }
      div:first-child {
        text-align: center;
      }
      img {
        width: 70%;
      }
    }
    .customer_support {
      max-width: 410px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      height: unset;
      .text_container {
        .title_customer_support {
          font-size: 35px;
        }
      }
      .support_girl {
        position: relative;
        right: unset;
        top: unset;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .referral_program {
    .content_container {
      .right_container {
        .title {
          margin-bottom: 16px;
          font-size: 40px;
        }
        .text {
          span {
            width: 300px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 100%;
            margin-bottom: 16px;
          }
        }
        .social_container {
          flex-direction: column;
          align-items: flex-start;
          button {
            width: 100%;
            margin-top: 16px;
            border-radius: 10px;
          }
        }
      }
      div:first-child {
      }
      img {
      }
    }
    .customer_support {
      width: 300px;
      padding-top: 15px;
      padding-left: 29px;
      .text_container {
        .title_customer_support {
          font-size: 25px;
        }
      }
      .support_girl {
        position: relative;
        right: unset;
        top: unset;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .referral_program {
    .customer_support {
      width: 250px;
    }
  }
}
