.footer {
  padding-top: 42px;
  padding-bottom: 54px;
  width: 100%;
  background: #bfea81;
  display: flex;
  flex-direction: column;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #0f0f0f;
  .container_top {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    ul {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      li {
        list-style: none;
        margin-bottom: 5px;
      }
    }
    .socials {
      .title {
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #0f0f0f;
        margin-bottom: 16px;
      }
      .social_links {
        svg {
          margin-right: 10px;
        }
      }
    }
    .scan_qr_code {
      .title {
        margin-bottom: 16px;
      }
    }
  }
  .container_bottom {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    .link_part {
      &:first-child {
        width: 335px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .container_top {
      justify-content: space-around;
      ul {
        li {
        }
      }
      .socials {
        .title {
        }
        .social_links {
          svg {
          }
        }
      }
      .scan_qr_code {
        .title {
        }
      }
    }
    .container_bottom {
      justify-content: space-around;
      .link_part {
        &:first-child {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .footer {
    .container_top {
      max-width: 80%;
      margin: 0 auto;
      padding-bottom: 16px;
      img {
        width: 80%;
      }
      ul {
        li {
        }
      }
      .socials {
        .title {
        }
        .social_links {
          svg {
          }
        }
      }
      .scan_qr_code {
        .title {
          font-size: 14px;
        }
        img {
          width: 50%;
        }
      }
    }
    .container_bottom {
      max-width: 80%;
      margin: 0 auto;
      .link_part {
        &:first-child {
        }
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .footer {
    .container_top {
      flex-wrap: wrap;
      text-align: center;
      img {
      }
      ul {
        padding-inline-start: 0;
        li {
        }
      }
      .socials {
        .title {
        }
        .social_links {
          svg {
          }
        }
      }
      .scan_qr_code {
        .title {
        }
        img {
        }
      }
    }
    .container_bottom {
      flex-wrap: wrap;
      .link_part {
        margin-bottom: 10px;
        margin-right: 10px;
        &:first-child {
        }
      }
    }
  }
}
