.pay_page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 200px;
  box-shadow: -16px -16px 90px 92px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -16px -16px 90px 92px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -16px -16px 90px 92px rgba(0, 0, 0, 0.8);
  .title {
    font-family: TT Hoves;
    font-size: 70px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0em;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    z-index: 30;
    span {
      z-index: 30;
      position: relative;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 7px;
      left: 0;
      width: 338px;
      height: 18px;
      z-index: 1;
      background-color: #bfea81;
    }

    svg {
      position: absolute;
      top: 30px;
      right: 20px;
    }
  }

  #ellipse_container {
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      width: 300px;
      height: 77px;
      border-radius: 50%;
      border: 1px solid #bfea81;
      transform: rotate(351deg);
      background-color: transparent;
    }
    img {
      margin-left: 40px;
    }
  }
  .content_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:last-child {
      padding-top: 24px;
    }
    .pay_page_left_side {
      position: relative;
      #ellipse {
        position: absolute;
        left: -170px;
        top: -400px;
      }
      img {
        &:first-child {
          z-index: 30;
          position: relative;
        }

        &:last-child {
          position: absolute;
          left: -145px;
          top: 91px;
          z-index: 1;
        }
      }
    }
    .pay_page_right_side {
      .title_second_version {
        font-family: TT Hoves;
        font-size: 40px;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 50px;
      }
      .major_coins_list {
        width: 420px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin-bottom: 24px;
        &::after {
          content: "";
          position: absolute;
          top: -304px;
          right: -890px;
          width: 1054px;
          height: 757px;
          border: 1px solid #ffffff1a;
          border-radius: 50%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          z-index: 1;
        }
        &::before {
          content: "";
          position: absolute;
          width: 551px;
          height: 551px;
          left: 437px;
          top: 159px;
          background: rgba(193, 255, 104, 0.37);
          filter: blur(250px);
        }

        .major_coins_list_item {
          width: 200px;
          height: 50px;
          z-index: 30;
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            linear-gradient(
              200.74deg,
              rgba(214, 211, 194, 0.2) 0%,
              rgba(92, 92, 92, 0.14) 100%
            );
          box-shadow: inset -1.47838px -0.912985px 2.39202px
            rgba(250, 250, 250, 0.22);
          backdrop-filter: blur(6.39033px);
          border-radius: 33.8561px;

          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          margin-bottom: 20px;
          svg {
            margin-right: 8px;
          }
        }
      }
      .button {
        width: 220px;
        height: 60px;
        top: 591px;
        left: 104px;
        border-radius: 30px;
        background: linear-gradient(295.15deg, #bfea81 9.27%, #daffa5 100.6%);
        border: none;
        font-family: TT Hoves;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: black;
      }
    }
    .card_container {
      width: 520px;
      height: 251px;
      border-radius: 30px;
      background: #ffffff0f;
      position: relative;
      &:first-child {
        left: 35px;
      }
      &:last-child {
        top: 140px;
        left: -35px;
      }
      &#left_card {
        .title_of_container {
          padding-top: 24px;
        }
      }
      #right_card {
        bottom: -130px;
        width: 300px;
        margin: 0 auto;
      }
      .title_of_container {
        position: relative;

        span {
          display: block;
        }
        span:first-child {
          font-family: TT Hoves;
          font-size: 30px;
          font-weight: 500;
          line-height: 35px;
          letter-spacing: 0em;
          text-align: center;
        }
        span:last-child {
          font-family: TT Hoves;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #b3b3b3;
        }
      }
      img:last-child {
        position: absolute;
        bottom: -85px;
        right: 60px;
      }
      img:first-child {
        position: absolute;
        bottom: 152px;
        right: 60px;
        background-color: #1d1d1d;
        border-radius: 30px;
      }
    }
    .image_container {
      z-index: 30;
      position: relative;
      top: 80px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 565px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 450px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .main_page {
    .main_page_container {
      .left_side {
        .head_text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          padding-top: 30px;
          letter-spacing: 1px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main_page {
    .main_page_container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 878px) {
  .main_page {
    .main_page_container {
      padding: 100px 0;
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 45px;
          line-height: 50px;
        }
        .bottom_text {
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main_page {
    .main_page_container {
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 40px;
          line-height: 45px;
        }
        .bottom_text {
          max-width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 400px;
        text-align: center;
        .head_text {
          font-size: 35px;
          line-height: 40px;
          text-align: start;
        }
        .bottom_text {
          max-width: 400px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main_page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .main_page {
    .main_page_container {
      padding-bottom: 50px;

      .left_side {
        max-width: 350px;
        text-align: center;
        .head_text {
          font-size: 30px;
          line-height: 35px;
          text-align: end;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .bottom_text {
          max-width: 350px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 300px;
        .head_text {
          font-size: 25px;
          line-height: 30px;
        }
      }
      .right_side_foto {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main_page {
    padding-left: 0;
    padding-right: 0;
    .main_page_container {
      padding: 79px 0;
      .left_side {
        max-width: 320px;
        .head_text {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .right_side_foto {
        img {
          border-radius: 0;
          width: 100vw;
          height: 390px;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .main_page {
    .main_page_container {
      .left_side {
        .bottom_text {
          padding-left: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 240px;
      }
    }
  }
}
@media screen and (max-width: 355px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 220px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 200px;
      }
    }
  }
}
