#img {
  position: absolute;
  bottom: 575px;
  z-index: 1;
}

.green_part {
  background-color: #bfea81;
  padding-top: 200px;

  .content_container {
    max-width: 1200px;
    margin: 0 auto;
    height: 560px;
    display: flex;
    flex-direction: column;
    .title_first {
      font-family: "TT Hoves";
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 71px;
      text-align: center;
      text-transform: capitalize;
      color: #0f0f0f;
      position: relative;
      &::after {
        content: "";
        width: 97px;
        height: 97px;
        position: absolute;
        right: 247px;
        top: -33px;
        background-image: url("src/shared/assets/arrow_big.png");
      }
    }
    .content {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
      .container_image {
        margin: 15px;

        width: 630px;
        height: 540px;
        border-radius: 20px;
        background-image: url("src/shared/assets/asian_young_couple.png");
      }
      .container_form {
        width: 560px;
        height: 460px;
        margin: 15px;
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        background: #ffffff;
        border-radius: 30px;

        .title {
          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 47px;
          color: #000000;
          margin-bottom: 45px;
        }
        .info_list {
          color: #000000;

          .info_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .svg {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: #bfea81;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .text {
              margin-left: 10px;
            }
          }
          .preorder_container {
            margin-top: 50px;
            display: flex;
            justify-content: flex-end;
            input {
              width: 290px;
              height: 50px;
              /* Rectangle 1 */

              box-sizing: border-box;

              border: 1px solid rgba(34, 34, 34, 0.4);
              filter: drop-shadow(
                0px 14.5322px 77.8512px rgba(191, 234, 129, 0.13)
              );
              border-radius: 10px;
              background-color: transparent;
              padding-left: 15px;
            }
            button {
              width: 200px;
              height: 50px;
              color: #000000;
              background: linear-gradient(
                295.15deg,
                #bfea81 9.27%,
                #daffa5 100.6%
              );
              box-shadow: 0px 14.5322px 77.8512px rgba(191, 234, 129, 0.13);
              border-radius: 10px;
              border: none;
              margin-left: 21px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 565px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 450px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .main_page {
    .main_page_container {
      .left_side {
        .head_text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          padding-top: 30px;
          letter-spacing: 1px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main_page {
    .main_page_container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 878px) {
  .main_page {
    .main_page_container {
      padding: 100px 0;
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 45px;
          line-height: 50px;
        }
        .bottom_text {
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main_page {
    .main_page_container {
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 40px;
          line-height: 45px;
        }
        .bottom_text {
          max-width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 400px;
        text-align: center;
        .head_text {
          font-size: 35px;
          line-height: 40px;
          text-align: start;
        }
        .bottom_text {
          max-width: 400px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main_page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .main_page {
    .main_page_container {
      padding-bottom: 50px;

      .left_side {
        max-width: 350px;
        text-align: center;
        .head_text {
          font-size: 30px;
          line-height: 35px;
          text-align: end;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .bottom_text {
          max-width: 350px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 300px;
        .head_text {
          font-size: 25px;
          line-height: 30px;
        }
      }
      .right_side_foto {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main_page {
    padding-left: 0;
    padding-right: 0;
    .main_page_container {
      padding: 79px 0;
      .left_side {
        max-width: 320px;
        .head_text {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .right_side_foto {
        img {
          border-radius: 0;
          width: 100vw;
          height: 390px;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .main_page {
    .main_page_container {
      .left_side {
        .bottom_text {
          padding-left: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 240px;
      }
    }
  }
}
@media screen and (max-width: 355px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 220px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 200px;
      }
    }
  }
}
