.pay_page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 50px;
  box-shadow: -16px -16px 90px 92px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -16px -16px 90px 92px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -16px -16px 90px 92px rgba(0, 0, 0, 0.8);

  .title {
    font-family: TT Hoves;
    font-size: 70px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0em;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    z-index: 30;
    span {
      z-index: 30;
      position: relative;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 7px;
      left: 0;
      width: 338px;
      height: 18px;
      z-index: 1;
      background-color: #bfea81;
    }

    svg {
      position: absolute;
      top: 30px;
      right: 20px;
    }
  }

  #ellipse_container {
    padding-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      width: 300px;
      height: 77px;
      border-radius: 50%;
      border: 1px solid #bfea81;
      transform: rotate(352deg);
      background-color: transparent;
    }
    img {
      margin-left: 40px;
    }
  }
  .content_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:last-child {
      padding-top: 24px;
    }
    .pay_page_left_side {
      position: relative;
      #ellipse {
        position: absolute;
        left: -100%;
        top: -400px;
      }
      img {
        &:first-child {
          z-index: 30;
          position: relative;
        }

        &:last-child {
          position: absolute;
          left: -74%;
          top: 91px;
          z-index: 1;
        }
      }
    }
    .pay_page_right_side {
      .title_second_version {
        font-family: TT Hoves;
        font-size: 40px;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 50px;
      }
      .major_coins_list {
        width: 420px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin-bottom: 24px;
        &::after {
          content: "";
          position: absolute;
          top: -304px;
          right: -890px;
          width: 1054px;
          height: 757px;
          border: 1px solid #ffffff1a;
          border-radius: 50%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          z-index: 1;
        }
        &::before {
          content: "";
          position: absolute;
          width: 551px;
          height: 551px;
          left: 437px;
          top: 159px;
          background: rgba(193, 255, 104, 0.37);
          filter: blur(250px);
        }

        .major_coins_list_item {
          width: 200px;
          height: 50px;
          z-index: 30;
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            linear-gradient(
              200.74deg,
              rgba(214, 211, 194, 0.2) 0%,
              rgba(92, 92, 92, 0.14) 100%
            );
          box-shadow: inset -1.47838px -0.912985px 2.39202px
            rgba(250, 250, 250, 0.22);
          backdrop-filter: blur(6.39033px);
          border-radius: 33.8561px;

          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          margin-bottom: 20px;
          svg {
            margin-right: 8px;
          }
        }
      }
      .button {
        width: 220px;
        height: 60px;
        top: 591px;
        left: 104px;
        border-radius: 30px;
        background: linear-gradient(295.15deg, #bfea81 9.27%, #daffa5 100.6%);
        border: none;
        font-family: TT Hoves;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: black;
      }
    }
    .card_container {
      width: 520px;
      height: 251px;
      border-radius: 30px;
      background: #ffffff0f;
      position: relative;
      &:first-child {
        left: 35px;
      }
      &:last-child {
        top: 140px;
        left: -35px;
      }
      &#left_card {
        .title_of_container {
          padding-top: 24px;
        }
      }
      #right_card {
        bottom: -130px;
        width: 300px;
        margin: 0 auto;
      }
      .title_of_container {
        position: relative;

        span {
          display: block;
        }
        span:first-child {
          font-family: TT Hoves;
          font-size: 30px;
          font-weight: 500;
          line-height: 35px;
          letter-spacing: 0em;
          text-align: center;
        }
        span:last-child {
          font-family: TT Hoves;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #b3b3b3;
        }
      }
      img:last-child {
        position: absolute;
        bottom: -85px;
        right: 60px;
      }
      img:first-child {
        position: absolute;
        bottom: 152px;
        right: 60px;
        background-color: #1d1d1d;
        border-radius: 30px;
      }
    }
    .image_container {
      z-index: 30;
      position: relative;
      top: 80px;
    }
  }
  #download_container {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    .title_app_download {
      font-family: "TT Hoves";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      margin-bottom: 12px;
    }
    .buttons_container {
      display: flex;
      align-items: center;
      .button_app {
        width: 173px;
        height: 58px;
        margin: 12px;
        border: 1px solid #a6a6a6;
        border-radius: 10px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .title_btn {
          span {
            display: block;
            line-height: 1;
            text-align: left;
            &:first-child {
              font-size: 12px;
            }
            &:last-child {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .pay_page {
    .title {
      font-size: 60px;
      &::after {
        width: 290px;
      }
    }
    #ellipse_container {
      img {
        margin-left: 14px;
      }
      &::after {
        bottom: 20px;
        width: 261px;
        height: 77px;
      }
    }
    .content_container {
      .card_container {
        width: 420px;
        height: 215px;
        img:last-child {
          bottom: -65px;
          right: 50px;
          width: 80%;
        }
        img:first-child {
          width: 80%;
          bottom: 110px;
          right: 33px;
        }
        #right_card {
          bottom: -110px;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .pay_page {
    #download_container {
      .title_app_download {
        padding-top: 12px;
        width: 300px;
      }
    }
    #ellipse_container {
      padding-top: 49px;
    }
    .content_container {
      flex-direction: column;
      .card_container {
        &:first-child {
          left: 0;
        }
        &:last-child {
          left: 0;
          top: 200px;
        }
      }

      .pay_page_right_side {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .image_container {
        transform: rotate(40.93deg);
        img {
          position: relative;
          top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .pay_page {
    padding-bottom: 0;
    #ellipse_container {
      &::after {
        bottom: 31px;
        width: 175px;
        height: 46px;
      }
    }
    .content_container {
      .pay_page_left_side {
        img:first-child {
          top: -60px;
        }
        img:last-child {
          left: -271px;
          width: 100%;
        }
      }
      .pay_page_right_side {
        .major_coins_list {
          &::after {
            top: -251px;
            right: -890px;
            width: 995px;
            height: 640px;
          }
        }
      }
    }
    .title {
      padding-top: 30px;
      font-size: 40px;
      line-height: unset;
      &::after {
        width: 195px;
      }
      svg {
        top: 0;
      }
      img {
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .pay_page {
    #ellipse_container {
      padding-top: 0;
      &::after {
        width: 132px;
        height: 40px;
      }
    }
    .content_container {
      .card_container {
        width: 345px;
        .title_of_container {
          font-family: "TT Hoves";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          /* identical to box height */
          text-align: center;
          text-transform: capitalize;
        }
      }
      .pay_page_left_side {
        img:first-child {
          display: block;
          margin: 0 auto;
          width: 80%;
          top: -45px;
        }
      }
      .pay_page_right_side {
        position: relative;
        top: -60px;
        .title_second_version {
          font-size: 24px;
          margin-bottom: 19px;
          text-transform: capitalize;
        }
        .major_coins_list {
          justify-content: space-around;
          .major_coins_list_item {
            width: 164px;
            height: 50px;
          }
        }
      }
    }
    .title {
      padding-top: 30px;
      font-size: 30px;
      line-height: unset;
      &::after {
        width: 177px;
        height: 8px;
      }
      svg {
        top: 0;
      }
      img {
        width: 30px;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .pay_page {
    .content_container {
      .card_container {
        height: 187px;
        .title_of_container {
          span:first-child {
            font-size: 24px;
          }
        }
        img:last-child {
          right: 37px;
        }
        &:last-child {
          top: 182px;
        }
        #right_card {
          bottom: -80px;
        }
      }
      .image_container {
        img {
          width: 130px;
          top: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pay_page {
    .content_container {
      .card_container {
        width: 300px;
        height: 165px;
        #right_card {
          bottom: -60px;
        }
      }
      .pay_page_right_side {
        .major_coins_list {
          width: 360px;
        }
      }
    }
    #download_container {
      .buttons_container {
        .button_app {
          width: 120px;
          height: 40px;
          .title_btn {
            span:first-child {
              font-size: 10px;
            }
            span:last-child {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .pay_page {
    .content_container {
      .pay_page_right_side {
        .major_coins_list {
          width: 305px;
          .major_coins_list_item {
            width: 146px;
          }
        }
        .button {
          width: 186px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .pay_page {
    .title {
      font-size: 25px;
      &:after {
        width: 121px;
      }
    }
    #download_container {
      .title_app_download {
        width: 285px;
      }
    }
    .content_container {
      .card_container {
        width: 285px;
        height: 155px;
        img:first-child {
          right: 26px;
        }
        img:last-child {
          right: 30px;
        }
        #right_card {
          bottom: -46px;
        }
        .title_of_container {
        }
      }
      .pay_page_left_side {
        img:last-child {
          left: -74%;
          top: 25px;
        }
      }
    }
  }
}
