.how_to_use_part {
  position: relative;
  padding-top: 260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  div {
    display: block;
  }
  .title {
    font-family: TT Hoves;
    font-size: 70px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0em;
    position: relative;
    text-align: center;
    display: block;
    text-align: center;
    z-index: 30;
    margin-bottom: 40px;
    text-transform: capitalize;
    img {
      position: absolute;
      top: 10px;
      margin-left: 37px;
    }
    span {
      display: block;
      font-family: "TT Hoves";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      margin-top: 16px;
    }
  }
  .content_container {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 80px;
    background: linear-gradient(
      106.35deg,
      rgba(32, 32, 32, 0.49) 3.31%,
      rgba(66, 66, 66, 0.553) 108.82%
    );
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
    margin-left: -42px;
    margin-right: -42px;
    .step_container {
      width: 280px;
      margin-bottom: 30px;
      margin-left: 42px;
      margin-right: 42px;
      position: relative;
      margin-bottom: 109px;
      .number {
        position: absolute;

        width: 77px;
        height: 140px;
        font-family: "TT Hoves Pro Trial";
        font-style: normal;
        font-weight: 900;
        font-size: 140px;
        line-height: 176px;
        text-transform: capitalize;
        background: linear-gradient(180deg, #74ee52, #ffffff00);
        // background-size: 100% 100%;
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;

        color: #4242428d;
      }
      .title_step {
        position: relative;
        top: 80px;
        left: 32px;
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        text-transform: capitalize;
      }
      .text {
        width: 230px;
        position: relative;
        top: 80px;
        left: 32px;
        bottom: -75px;
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: lowercase;
        color: #b3b3b3;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 565px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 450px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .main_page {
    .main_page_container {
      .left_side {
        .head_text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          padding-top: 30px;
          letter-spacing: 1px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main_page {
    .main_page_container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 878px) {
  .main_page {
    .main_page_container {
      padding: 100px 0;
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 45px;
          line-height: 50px;
        }
        .bottom_text {
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main_page {
    .main_page_container {
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 40px;
          line-height: 45px;
        }
        .bottom_text {
          max-width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 400px;
        text-align: center;
        .head_text {
          font-size: 35px;
          line-height: 40px;
          text-align: start;
        }
        .bottom_text {
          max-width: 400px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main_page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .main_page {
    .main_page_container {
      padding-bottom: 50px;

      .left_side {
        max-width: 350px;
        text-align: center;
        .head_text {
          font-size: 30px;
          line-height: 35px;
          text-align: end;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .bottom_text {
          max-width: 350px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 300px;
        .head_text {
          font-size: 25px;
          line-height: 30px;
        }
      }
      .right_side_foto {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main_page {
    padding-left: 0;
    padding-right: 0;
    .main_page_container {
      padding: 79px 0;
      .left_side {
        max-width: 320px;
        .head_text {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .right_side_foto {
        img {
          border-radius: 0;
          width: 100vw;
          height: 390px;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .main_page {
    .main_page_container {
      .left_side {
        .bottom_text {
          padding-left: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 240px;
      }
    }
  }
}
@media screen and (max-width: 355px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 220px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 200px;
      }
    }
  }
}
