.stable_and_secure {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 50px;

  .title {
    font-family: "TT Hoves";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }
  .content_container {
    .list_of_secure {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;

      .item_container {
        position: relative;
        display: flex;
        padding: 26px;
        width: 358px;
        margin: 15px;
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(28.5px);
        border-radius: 10px;
        .item_svg {
          display: inline;
          margin-right: 20px;
        }
        .item_text {
          display: inline;
          .item_title {
            font-family: "TT Hoves";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-transform: capitalize;
            color: #ffffff;
          }
          .list_secure {
            ul {
              list-style: none;
              padding-inline-start: 0px;

              li {
                font-family: "TT Hoves";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-transform: capitalize;
                color: #b3b3b3;
                &::before {
                  content: "•";
                  color: greenyellow;
                  margin-right: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 565px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 450px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .main_page {
    .main_page_container {
      .left_side {
        .head_text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          padding-top: 30px;
          letter-spacing: 1px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main_page {
    .main_page_container {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 878px) {
  .main_page {
    .main_page_container {
      padding: 100px 0;
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 45px;
          line-height: 50px;
        }
        .bottom_text {
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main_page {
    .main_page_container {
      flex-direction: column-reverse;
      align-items: center;
      .left_side {
        max-width: 600px;
        text-align: center;
        .head_text {
          font-size: 40px;
          line-height: 45px;
        }
        .bottom_text {
          max-width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 400px;
        text-align: center;
        .head_text {
          font-size: 35px;
          line-height: 40px;
          text-align: start;
        }
        .bottom_text {
          max-width: 400px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main_page {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .main_page {
    .main_page_container {
      padding-bottom: 50px;

      .left_side {
        max-width: 350px;
        text-align: center;
        .head_text {
          font-size: 30px;
          line-height: 35px;
          text-align: end;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .bottom_text {
          max-width: 350px;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 300px;
        .head_text {
          font-size: 25px;
          line-height: 30px;
        }
      }
      .right_side_foto {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main_page {
    padding-left: 0;
    padding-right: 0;
    .main_page_container {
      padding: 79px 0;
      .left_side {
        max-width: 320px;
        .head_text {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .right_side_foto {
        img {
          border-radius: 0;
          width: 100vw;
          height: 390px;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .main_page {
    .main_page_container {
      .left_side {
        .bottom_text {
          padding-left: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 240px;
      }
    }
  }
}
@media screen and (max-width: 355px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 220px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .main_page {
    .main_page_container {
      .left_side {
        max-width: 200px;
      }
    }
  }
}
